body{

			background-image:url("../img/watch.png");
			background-repeat:no-repeat;
			background-size:cover;
			background-position:-0 -200px;
			font-family:consolas;
			color:white;
			font-size:20px; 
}
.image{
	text-align: center;
	padding-top:100px;
}
.image img{
	width:20%;
	border-radius:50%;
}
#paragraph{
	font-size:1.5em;
}
.socials{
	text-align: center;
	margin-top: 20px;
}

.socials svg {
	width: 120px;
	height: 150px;
}